.Container{
  margin:0;
  display: flex;
  width: auto;
  height: auto;
}
.searchbar{
  display: flex;
  width: 50%;
  margin-top: 2%;
  margin-left: 28%;
}
.Maincontainer{
  background-image: url(../public/assets/clear.jpg);
  
}